@import "tailwindcss";


body {
  font-family: 'General Sans', sans-serif;
  width: 100dvw;
  overflow: hidden;
  background-color: #dfdff0;
}

@layer base {
  @font-face {
    font-family: 'circular-web';
    src: url('/fonts/circularweb-book.woff2') format('woff2');
  }
  @font-face {
    font-family: 'general';
    src: url('/fonts/general.woff2') format('woff2'); 
  }
  @font-face {
    font-family: 'robert-medium';
    src: url('/fonts/robert-medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'robert-regular';
    src: url('/fonts/robert-regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'zentry-regular';
    src: url('/fonts/zentry-regular.woff2') format('woff2');
  }
}

@theme {
  /*** fonts ***/
  --font-circular-web: 'circular-web', sans-serif;
  --font-general: 'general', sans-serif;
  --font-robert-medium: 'robert-medium', sans-serif;
  --font-robert-regular: 'robert-regular', sans-serif;
  --font-zentry-regular: 'zentry-regular', sans-serif;

  /*** colors ***/
  /* blue */
  --color-blue-50: #DFDFF0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #F0F2FA;
  --color-blue-200: #010101;
  --color-blue-300: #4FB7DD;

  /* violet */
  --color-violet-300: #5724ff;

  /* yellow */
  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;
}
